#site-footer-social {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  padding-left: 12px;
  align-items: center;
}

#site-footer-social a {
  display: flex;
  align-items: center;
}

#site-footer-fund {
  display: flex;
  gap: 12px;
  overflow: auto;
  justify-content: flex-end;
  padding-right: 12px;
  align-items: center;
}

#site-footer-fund a {
  display: flex;
  align-items: center;
}

#site-footer-copyright, #site-footer-love {
  display: flex;
  align-items: center;
  justify-content: center;
}

#site-footer-love .icon {
  padding: 0 6px;
}

@media (min-width: 1025px), (min-width: 1024px) and (orientation: portrait) {
  #site-footer-copyright {
    justify-content: flex-start;
    padding-left: 12px;
  }
}