#toc {
  padding-top: 40px;
}

#toc strong {
  font-weight: 700;
  padding: 7px 10px;
  display: inline-block;
}

#toc a {
  display: inline-block;
  padding: 7px 10px;
}

#toc ul ul {
  padding-left: 1em;
}
