body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#site-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 46px);
}

#site-header-menu, #site-header-search {
  grid-column: 1 / 3;
}

#site-footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 46px);
}

#site-footer-copyright, #site-footer-love {
  grid-column: 1 / 3;
}

#site-main-content-wrapper {
  display: flex;
  flex: 1;
}

#sidebar, #toc {
  display: none;
}

main {
  flex: 1;
  display: flex;
  overflow: auto;
}

#article {
  flex: 1;
}

/* ipad */
@media (min-width: 768px) and (max-width: 1024px) {
  #site-header {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 46px);
  }

  #site-header-brand {
    grid-column: 1 / 6;
  }

  #site-header-controls {
    grid-column: 6 / 7;
  }

  #site-header-menu {
    grid-column: 1 / 5;
  }

  #site-header-search {
    grid-column: 5 / 7;
  }

  #site-footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 46px);
  }

  #site-footer-social {
    grid-column: 1 / 3;
  }

  #site-footer-fund {
    grid-column: 6 / 7;
  }

  #site-footer-copyright {
    grid-column: 3 / 5;
    grid-row: 1;
  }

  #site-footer-love {
    grid-column: 1 / 7;
  }
}

/* ipad pro portrait*/
@media (min-width: 1025px) and (max-width: 1280px),
(min-width: 1024px) and (max-width: 1280px) and (orientation: portrait) {
  #site-header {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 46px;
  }

  #site-header-brand {
    grid-column: 1 / 2;
  }

  #site-header-controls {
    grid-column: 6 / 7;
  }

  #site-header-menu {
    grid-column: 2 / 5;
    grid-row: 1;
  }

  #site-header-search {
    grid-column: 5 / 6;
    grid-row: 1;
  }

  #site-footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 46px;
  }

  #site-footer-social {
    grid-column: 2 / 3;
  }

  #site-footer-fund {
    grid-column: 6 / 7;
  }

  #site-footer-copyright {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  #site-footer-love {
    grid-column: 3 / 5;
    grid-row: 1;
  }

  #toc {
    width: 25%;
    display: flex;
  }
}

/* desktop */
@media (min-width: 1281px) {
  #site-header {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 46px;
  }

  #site-header-brand {
    grid-column: 1 / 2;
  }

  #site-header-controls {
    grid-column: 6 / 7;
  }

  #site-header-menu {
    grid-column: 2 / 5;
    grid-row: 1;
  }

  #site-header-search {
    grid-column: 5 / 6;
    grid-row: 1;
  }

  #site-footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 46px;
  }

  #site-footer-social {
    grid-column: 2 / 3;
  }

  #site-footer-fund {
    grid-column: 6 / 7;
  }

  #site-footer-copyright {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  #site-footer-love {
    grid-column: 3 / 5;
    grid-row: 1;
  }

  #sidebar {
    width: 16.7%;
    display: flex;
  }

  #toc {
    width: 20%;
    display: flex;
  }
}

/* optional */
/* -------- */
#site-header-brand {
  background: #fdffb6;
}

#site-header-controls {
  background: #caffbf;
}

#site-header-menu {
  background: #9bf6ff;
}

#site-header-search {
  background: #a0c4ff;
}

#site-footer-social {
  background: #ffe8e8;
}

#site-footer-fund {
  background: #d3f6f3;
}

#site-footer-copyright {
  background: #fff5ea;
}

#site-footer-love {
  background: #f1f6f9;
}

#sidebar {
  background: #caffbf;
}

#article {
  background: #bdb2ff;
}

#toc {
  background: #ffadad;
}