#sidebar {
  position: fixed;
  top: 0;
  width: 260px;
  left: -260px;
  height: 100%;
  transition: .4s;
  z-index: 200;
  overflow-x: auto;
  background: var(--background);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.offcanvas-sidebar-on #sidebar {
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
}

.offcanvas-sidebar-on #sidebar .btn-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (max-width: 1023px) {
  #toc {
    position: fixed;
    top: 0;
    width: 260px;
    right: -260px;
    height: 100%;
    transition: .4s;
    z-index: 300;
    overflow-x: auto;
    background: var(--background);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }

  .offcanvas-toc-on #toc {
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }

  .offcanvas-toc-on #toc .btn-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

#article-nav {
  display: flex;
  gap: 12px;
  overflow: auto;
  justify-content: space-between;
  height: var(--site-header-height);
  align-items: center;
}

#article-nav-menu-btn, #article-nav-toc-btn {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  white-space: nowrap;
  gap: 6px;
}

@media (min-width: 1024px) {
  #article-nav-toc-btn {
    display: none;
  }
}
