:root {
  --site-header-height: 46px;
  --site-header-height-md: 60px;
  --site-header-height-lg: 80px;

  --site-footer-height: 46px;
  --site-footer-height-md: 60px;
  --site-footer-height-lg: 80px;
}