@import "../font/inter";
@import "../icon/default";

:root {
  font-family: 'Inter', sans-serif;
  background: white;
  color: #333333;
}

:root[data-color="dark"] {
  background: #121212;
  color: #efefef;
}

:root[data-color="night"] {
  background: #333333;
  color: #CCCCCC;
}
