@import "../font/inter";
@import "../icon/default";

:root {
  --font-family: 'Inter', sans-serif;
  --background: #ffffff;
  --color: #333333;
  --border-color: rgba(0, 0, 0, 0.2);

  --font-family-brand: Times, serif;

  --home-cover-background: linear-gradient(135deg, rgba(79, 113, 235, 0.2) 9.8%, rgba(232, 79, 235, 0.2) 92.84%);
}

:root[data-color="dark"] {
  --background: #121212;
  --color: #efefef;
  --border-color: rgba(255, 255, 255, .4);
}

:root[data-color="night"] {
  --background: #333333;
  --color: #cccccc;
  --border-color: rgba(255, 255, 255, 0.2);
}
