@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/font/Inter-Regular.woff2?v=3.19") format("woff2"),
  url("/font/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/font/Inter-Italic.woff2?v=3.19") format("woff2"),
  url("/font/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/font/Inter-SemiBold.woff2?v=3.19") format("woff2"),
  url("/font/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/font/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
  url("/font/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}
