.cover {
  padding: 40px 20px;
  width: 100vw;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--home-cover-background);
}

.cover::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: -1;
  background: inherit;
  filter: blur(1rem);
}

.cover h1 {
  font-family: var(--font-family-brand);
  font-size: 4em;
  text-align: center;
}

.cover p {
  font-family: var(--font-family-brand);
  font-size: 2em;
  text-align: center;
}

.cover-github-buttons {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
