#sidebar {
  padding: 0 20px;
}

.sidebar-section, .sidebar-link {
  padding: 7px 0;
}

.sidebar-section {
  margin-top: 40px;
  font-weight: 600;
}

.sidebar-link {
  padding-left: 10px;
  color: var(--color2);
}

.sidebar-link:hover {
  color: var(--color-hover);
  font-weight: 600;
  font-size: 98%;
}

.sidebar-link.current {
  border-left: 3px solid var(--color-anchor);
  border-radius: 5px;
  position: relative;
  left: -3px;
  color: var(--color-anchor);
  font-weight: 600;
  font-size: 98%;
}