<aside id="sidebar">
  <!-- section 1 -->
  <strong class="sidebar-section">Section 01</strong>
  <a class="sidebar-link" href="#">Page 01</a>
  <a class="sidebar-link" href="#">Page 02</a>
  <a class="sidebar-link" href="#">Page 03</a>
  <a class="sidebar-link" href="#">Page 04</a>

  <!-- section 2 -->
  <strong class="sidebar-section">Section 02</strong>
  <a class="sidebar-link" href="#">Page 01</a>
  <a class="sidebar-link" href="#">Page 02</a>
  <a class="sidebar-link" href="#">Page 03</a>
  <a class="sidebar-link" href="#">Page 04</a>

  <!-- section 3 -->
  <strong class="sidebar-section">Section 03</strong>
  <a class="sidebar-link" href="#">Page 01</a>
  <a class="sidebar-link" href="#">Page 02</a>
  <a class="sidebar-link" href="#">Page 03</a>
  <a class="sidebar-link" href="#">Page 04</a>
</aside>