{{ $data := index .Site.Data .Site.Language.Lang .Section "sidebar" }}

{{- $url := split .Permalink "/" -}}
{{- $urlPageSlug := index $url (sub (len $url) 2) -}}

<aside id="sidebar">
  <span class="btn-close"><i class="icon icon-close"></i></span>
  {{- range $group := $data -}}
    <strong class="sidebar-section">{{ $group.title }}</strong>

    {{- range $page := $group.pages -}}
      {{- $pageSlug := $page.title | urlize -}}
      {{- $isActivePage := eq $urlPageSlug $pageSlug -}}

      {{ if eq .Site.Language.Lang .Site.DefaultContentLanguage }}
        {{ $href := printf "/%s/%s/" $.Section $pageSlug }}
        <a class="sidebar-link {{ if $isActivePage }}current{{ end }}" href="{{ $href }}">{{ $page.title }}</a>

      {{ else }}
        {{ $href := printf "/%s/%s/%s/" $.Site.Language.Lang $.Section $pageSlug }}
        <a class="sidebar-link {{ if $isActivePage }}current{{ end }}" href="{{ $href }}">{{ $page.title }}</a>

      {{ end}}
    {{- end }}

  {{- end }}
</aside>