<header id="site-header">
  <!-- brand -->
  <div id="site-header-brand">
    <a href="#">Doctura</a>
  </div>

  <!-- controls -->
  <div id="site-header-controls">
    <!-- theme selector -->
    <div class="dropdown">
      <button class="dropdown-btn"><span class="icon">brightness_6</span></button>
      <ul role="menu" class="dropdown-menu">
        <li role="menuitem"><button><span class="icon">light_mode</span> Light</button></li>
        <li role="menuitem"><button><span class="icon">dark_mode</span> Dark</button></li>
      </ul>
    </div>

    <!-- language selector -->
    <div class="dropdown">
      <button class="dropdown-btn"><span class="icon">translate</span></button>
      <ul role="menu" class="dropdown-menu">
        <li role="menuitem"><a href="#">English</a></li>
      </ul>
    </div>
  </div>

  <!-- main menu -->
  <div id="site-header-menu">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>

  <!-- search -->
  <div id="site-header-search">
    <button><span class="icon">search</span> Search</button>
  </div>
</header>