{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $baseStyle := resources.Get "scss/base.scss" | resources.ToCSS $options }}
{{ $mobileFixStyle := resources.Get "scss/mobile-fix.scss" | resources.ToCSS $options }}

<link rel="preload" href="{{ $baseStyle.RelPermalink }}" as="style" onload="this.rel='stylesheet'" integrity="{{ $baseStyle.Data.integrity }}">
<link rel="preload" href="{{ $mobileFixStyle.RelPermalink }}" as="style" onload="this.rel='stylesheet'" integrity="{{ $mobileFixStyle.Data.integrity }}" media="screen and (max-width: 1280px)">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone" rel="stylesheet">